/* ------------------------------ *\
   Generic Helpers
\* ------------------------------ */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%; /* For sticky footer */
}

body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

/**
 * For clearing floats. This is the same as the common `.clearfix` class but
 * adopting `group` as a more semantic name.
 **/

.group {
  *zoom: 1;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

/**
 * Paddings and margins
 **/

.space {
  margin-bottom: 10px;
  margin-top: 10px;
}

.space--large {
  margin-bottom: 20px;
  margin-top: 20px;
}

.space--xlarge {
  margin-bottom: 40px;
  margin-top: 40px;
}

.breathe {
  padding: 5px;
}

.breathe--large {
  padding: 10px;
}

/**
 * Other common use cases
 **/

.center-block {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* ------------------------------ *\
   Links
\* ------------------------------ */

a {
  text-decoration: none;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* ------------------------------ *\
   Scaffolding
\* ------------------------------ */

/**
 * For use with a sticky footer. E.g.
 *
 * <div class="wrapper">
 *     <header>
 *         <!-- Site header -->
 *     </header>
 *
 *     <!-- Site content -->
 *
 *     <div class="push"></div>
 * </div>
 *
 * <footer>
 *     <!-- Footer here -->
 * </footer>
 *
 **/

.wrapper {
  height: auto !important;
  height: 100%;
  margin-bottom: -60px; /* Size is the same as the height of your footer */
  min-height: 100%;
}

.push {
  height: 60px; /* Same height as your footer. Adjust accordingly. */
}

/**
 * For content blocks that needs to be boxed off. E.g.
 *
 * <section class="box">
 *     <h1>Sidebar Information</h1>
 *
 *     <p>Some information that is boxed off.</p>
 * </section>
 *
 **/

.box {
  border: 1px solid #ddd;
  padding: 10px;
}

.underline {
  border-bottom: 1px solid #ddd;
}

.underline--dashed {
  border-bottom: 1px dashed #ccc;
}

/* ------------------------------ *\
   The Grid
\* ------------------------------ */

/**
 * A non-float grid system based on inline block child elements.
 *
 * <div class="grid">
 *     <div class="column one-third">
 *     </div>
 *
 *     <div class="column two-third">
 *     </div>
 * </div>
 *
 **/

.grid {
  letter-spacing: -0.31em; /* This is to collapse the white space between inline block elements */
  margin-left: auto;
  margin-right: auto;
  width: 940px; /* Adjust according to your needs */
}

.column {
  display: inline-block;
  letter-spacing: normal;
  padding: 0 10px; /* Gutter size */
  vertical-align: top;
  word-spacing: normal;
}

  .column .grid {
    width: 100%;
  }

  .column .grid .column:first-child {
    padding-left: 0;
  }

  .column .grid .column:last-child {
    padding-right: 0;
  }

.whole {
  width: 100%;
}

/**
 * Halves
 **/

.one-half {
  width: 50%;
}

/**
 * Thirds
 **/

.one-third {
  width: 33.333333%;
}
.two-third {
  width: 66.666666%;
}

/**
 * Forths
 **/

.one-forth {
  width: 25%;
}
.two-forth {
  width: 50%;
}
.three-forth {
  width: 75%;
}

/**
 * Fifths
 **/

.one-fifth {
  width: 20%;
}
.two-fifth {
  width: 40%;
}
.three-fifth {
  width: 60%;
}
.four-fifth {
  width: 80%;
}

/**
 * Tenths
 **/

.one-tenth {
  width: 10%;
}
.two-tenth {
  width: 20%;
}
.three-tenth {
  width: 30%;
}
.four-tenth {
  width: 40%;
}
.five-tenth {
  width: 50%;
}
.six-tenth {
  width: 60%;
}
.seven-tenth {
  width: 70%;
}
.eight-tenth {
  width: 80%;
}
.nine-tenth {
  width: 90%;
}

/**
 * Twelfths
 **/

.one-twelfth {
  width: 8.333333%;
}
.two-twelfth {
  width: 16.666667%;
}
.three-twelfth {
  width: 25%;
}
.four-twelfth {
  width: 33.333333%;
}
.five-twelfth {
  width: 41.666667%;
}
.six-twelfth {
  width: 50%;
}
.seven-twelfth {
  width: 58.333333%;
}
.eight-twelfth {
  width: 66.666667%;
}
.nine-twelfth {
  width: 75%;
}
.ten-twelfth {
  width: 83.333333%;
}
.eleven-twelfth {
  width: 91.666666%;
}

/* ------------------------------ *\
   Media Object
\* ------------------------------ */

/**
 * E.g.
 *
 * <div class="media group">
 *     <a class="img" href="to/somewhere">
 *         <img src="something.jpg" alt="some image maybe">
 *     </a>
 *
 *     <div class="bd">
 *         <p>Something about the image</p>
 *     </div>
 * </div>
 *
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
 **/

.media {}

.media .img {
  float: left;
  margin-right: 10px;
}

.media .bd {
  overflow: hidden;
}

.media .img-ext {
  float: right;
  margin-left: 10px;
}

/* ------------------------------ *\
   Typography
\* ------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  margin-bottom: .7em;
  margin-top: .7em;
}

/**
 * Based on a Modular Scale using 14px and 44px as the key values
 * http://modularscale.com/scale/?px1=14&px2=44&ra1=1.618&ra2=0
 **/

.ms1 {
  font-size: 44px;
}

.ms2 {
  font-size: 37px;
}

.ms3 {
  font-size: 27px;
}

.ms4 {
  font-size: 23px;
}

.ms5 {
  font-size: 17px;
}

.ms6 {
  font-size: 14px;
}

.ms7 {
  font-size: 10px;
}

.uppercase {
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* ------------------------------ *\
   Forms
\* ------------------------------ */

.user-input {
  border: 1px solid #ddd;
  box-shadow: inset 0 0 6px rgba(0,0,0,.1);
  font-size: inherit;
  min-height: 30px;
  padding: 8px 5px;
}

.user-input--small {
  width: 50px;
}

.user-input--large {
  width: 200px;
}

.user-input--xlarge {
  width: 300px;
}

.user-input:focus {
  border: 1px solid #09a5e3;
  outline: none;
}

.form-horizontal__label {
  margin-top: 5px;
  text-align: right;
  width: 100px;
}

.form-horizontal__control {
  margin-top: 8px;
}

.form-horizontal__label,
.form-horizontal__input {
  float: left;
}

.form-horizontal__input {
  margin-left: 10px;
}

.form-stack__label,
.form-stack__input {
  display: block;
}

.form-stack__label {
  margin-bottom: 3px;
}

/* ------------------------------ *\
   Buttons
\* ------------------------------ */

.btn {
  background-color: #eee;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 100%;
  line-height: 2.45;
  min-height: 30px;
  padding: 0 .725em;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
     -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
}

.btn--small {
  line-height: 2;
  padding-left: .5em;
  padding-right: .5em;
}

.btn--large {
  line-height: 3;
  padding-left: 1em;
  padding-right: 1em;
}

.btn--full {
  display: block;
  width: 100%;
}

.btn:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  text-decoration: none;
}

/* ------------------------------ *\
   Lists
\* ------------------------------ */

.list {
  list-style-type: none;
  padding-left: 0;
}

.list-item--inline {
  float: left;
  margin-right: 1em;
  width: auto;
}

.list > .list-item--inline:last-child {
  margin-right: 0;
}

.list-item--stack {
  display: block;
  margin-bottom: 1em;
  width: auto;
}

.list > .list-item--stack:last-child {
  margin-bottom: 0;
}

/**
 * E.g.
 *
 * <ul class="list">
 *     <li class="list-item--inline list-item--inline--pipe" data-divider="|">Something</li>
 *     <li class="list-item--inline list-item--inline--pipe">Here</li>
 * </ul>
 *
 **/

.list-item--inline--pipe:after {
  content: attr(data-divider) "";
  margin-left: 1em;
}

/* ------------------------------ *\
   Modal Dialogs
\* ------------------------------ */

.modal-overlay {
  background-color: #fff;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.modal {
  background-color: #fafafa;
  border: 1px solid #ddd;
  box-shadow: 0 1px 15px rgba(0,0,0,.15);
  left: 50%;
  position: fixed;
  top: 50%;
  z-index: 1001;
}

.modal--gr {
  height: 350px;
  margin: -175px 0 0 -290px;
  width: 580px;
}

/* ------------------------------ *\
   CSS3 Helpers
\* ------------------------------ */

.soft {
  border-radius: 3px;
}

.softer {
  border-radius: 6px;
}

.pill {
  border-radius: 30px;
}

.pop {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.2);
}

.gradient {
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image:    -moz-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image:     -ms-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image:      -o-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0));
}
