/* ------------------------------ *\
   Grid
\* ------------------------------ */

.column-1--fluid {
  width: 6.383%;
}

.column-2--fluid {
  width: 14.894%;
}

.column-3--fluid {
  width: 24.404%;
}

.column-4--fluid {
  width: 31.915%;
}

.column-5--fluid {
  width: 40.426%;
}

.column-6--fluid {
  width: 48.936%;
}

.column-7--fluid {
  width: 57.446%;
}

.column-8--fluid {
  width: 65.957%;
}

.column-9--fluid {
  width: 74.468%;
}

.column-10--fluid {
  width: 82.979%;
}

.column-11--fluid {
  width: 91.489%;
}

.column-12--fluid {
  width: 100%;
}